.fondoFijo {
  width: 100vw;
  height: 720px;
  font-family: 'Nunito', sans-serif;
    position: relative;
}
.imagen__fondoFijo{
  position: absolute;
  width: 100%;
  height: 720px;
  filter: brightness(0.4);
}

.fondoFijo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.fondoFijo__containerText {
  width: 40%;
  height: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px;
  padding: 40px;
  position: relative;
  
}
.fondoFijo__containerText__direcciones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fondoFijo__containerText__boton {
  width: 150px;
  height: 40px;
  border: none;
  background-color: rgb(80, 182, 185);
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.text__somosCascanuces{
  font-size: 60px;
}
.text__nuestraSucursal{
  font-size: 60px;
}

.text__frutoAmor{
  font-size: 25px;
}
