.tarjetaCategoria {
  width: 425px;
  height: 425px;
  background-size: cover;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregado box-shadow */
  border-radius: 4px;

  

}
.tarjetaCategoria__info {
  position: absolute;
  bottom: 60px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;

}
.tarjetaCategoria-info__boton {
  height: 50px;
  width: 70px;
  border-radius: none;
  border: none;
  background-color: rgb(80, 182, 185);
  color: white;
  cursor: pointer;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 18px;

}
.tarjetaCategoria-info__texto {
  font-size: 45px;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;

}
.tarjetaCategoria__imagen {
  width: 100%;
  height: 100%;
  filter: brightness(0.6);
  border-radius: 4px;
}
