.home__formasPago {
  display: flex;
  margin: 50px;
  gap: 40px;
  border: 1px solid rgba(117, 113, 113, 0.459);
  padding: 20px;
  border-radius: 4px;
  border-radius: 7px;
  background-color: rgb(80, 182, 185);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregado box-shadow */
  border: none;



  
}
