.iputs-form {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 10px;
}
.input-name {
  width: 300px;
}
.input-codigoArea {
  width: 30%;
}
.input-telefono {
  width: 70%;
}
.input-password {
  display: flex;
  gap: 10px;
}
.container-link {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
}
.container-link h1 {
  text-align: center;
  margin: 5px;
}
.container-inputs {
  border: 1px solid red;
  margin-top: 30px;
}
.buton-crearCuenta {
  height: 40px;
  background-color: purple;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}
.container-box {
  display: flex;
  gap: 1px;
}
.loading_crearCuenta {
  margin-top: 20px;
}
.displayOff {
  display: none;
}
.input-email {
  width: 100%;
}
.container__telefono__input {
  display: flex;
  gap: 30px;
  width: 100%;
}
.button__crearCuenta button{
  color: white;
  background-color: purple;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
}
.button__crearCuenta button:hover{
  color: white;
  background-color: rgb(142, 21, 142);
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
}
.my-custom-alert {
  z-index: 9999;
}

.my-custom-backdrop {
  z-index: 9998;
}


.displayOff{
  display: none;
}
.stylesModalCrear{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 500px;
height: auto;
background-color: white; /* Cambia var(--background-paper) por el color deseado */
padding: 16px; /* Asumiendo que deseas un padding de 16px (equivalente a 4 en píxeles) */
border-radius: 4px;
border: none;
}