.container-contadorBoton {
  display: flex;
  width: 120px;
  justify-content: space-between;
  padding: 5px;
  font-size: 8px;
  color: rgb(97, 93, 93);
  align-items: center;
  height: 35px;

  font-weight: 200;
  font-family: "Nunito";
  line-height: 1.2em;
  font-size: 20px;
}
.container-agregandoProductoCarrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botones {
  border: none;
  font-size: 35px;
  color: black;
  cursor: pointer;
  background-color: white;
}

.pantalla {
  color: black;
  font-size: 20px;
}
.maximoAlcanzado {
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin: 3px;
}

.contadorUnidades__button {
  width: 120px;
  height: 40px;
  background-color: rgb(80, 182, 185);;
  color: white;
  border: none;
  cursor: pointer;
  padding: 7px;
  font-family: "Nunito";
  font-size: 12px;
  border-radius: 4px;
}
