.cart {
  background-color: #eee;
  margin-top: 100px;
  height: 100vh;
}
.cart__boton {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.container-retroceso {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 0px 50px;

}
.container-retroceso h1 {
  font-family: 'Covered By Your Grace', cursive;
  color: rgb(80, 182, 185);
  font-size: 50px;
  

}
.container-retroceso__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo-retroceso {
  font-family: "Nunito";
  font-size: 25px;
}
.container-general-cart {
  background-color: #eee;
}
.container__cartVacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 500px;
  margin-top: 30px;
}
.container__cartVacion h1 {
  font-size: 40px;
  font-family: "Nunito";
  

}

.botonInicio__cart {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-right: 100px;
}

.cart__boton{
  padding-right: 100px;
  display: flex;
  margin: 0px;
  justify-content: end;
}
